In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection  import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [7]:
data=pd.read_csv("LGD_DATA.csv")
data.head()

,Ac_No,Age,Years of Experience,Number of Vehicles,Gender,Married,Losses in Thousands
0,150024,24,5,1,M,Married,203.319595
1,144880,31,10,1,F,Single,402.197302
2,133742,56,37,1,M,Married,553.132096
3,151282,52,31,1,F,Married,292.430579
4,174407,20,3,1,M,Single,246.540576

In [8]:
newdata=pd.get_dummies(data,drop_first=True) # drop first Categorical data and create dummy variable
newdata.head()

,Ac_No,Age,Years of Experience,Number of Vehicles,Losses in Thousands,Gender_M,Married_Single
0,150024,24,5,1,203.319595,1,0
1,144880,31,10,1,402.197302,0,1
2,133742,56,37,1,553.132096,1,0
3,151282,52,31,1,292.430579,0,0
4,174407,20,3,1,246.540576,1,1

In [9]:
del(newdata["Ac_No"])

In [10]:
df=newdata

In [35]:
#Decide your regressor and predictor
x=df[["Age","Number of Vehicles","Gender_M","Married_Single"]] # Not taking Years of Experience because they have a correlation of 1 
y=df["Losses in Thousands"]

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1) # test size is for proportion
lm=LinearRegression()
lm.fit(x_train,y_train)
print(lm.intercept_)
print(lm.coef_)

539.6565230110673
[ -6.14900704  -1.79059246  97.23493268 136.7922503 ]

In [49]:
pred1=lm.predict(x_test)
pred1

array([534.92615816, 495.96502648, 397.21599832, ..., 240.92300027,
       437.69122548, 321.5015043 ])

In [50]:
r2_score(y_test,pred1) # find the accuracy if it is performing well or not

0.29505257544943864

In [51]:
sse=sum((y_test-pred1)**2)
sse

207618480.25806

In [52]:
tss=sum((y_test-np.mean(y_train))**2)
tss

294577853.15885305

In [45]:
r2=1-(sse/tss)
r2

0.29519996825389183

In [47]:
pred=lm.predict(x_train)
pred

array([211.59660727, 232.98340077, 394.37167922, ..., 165.34432335,
       508.63499083, 336.0908435 ])

In [48]:
r2_score(y_train,pred) # r2 for training data

0.3045506169220349

In [56]:
mape=np.mean(abs((pred1-y_test)/y_test))
mape

0.7002701067594879

In [57]:
mape=np.mean(abs((pred-y_train)/y_train))
mape

0.6988111029104044