In [1]:
import numpy as np

In [17]:
a1=np.array([15,12,14,11])
a2=np.array([39,45,48,60])
a3=np.array([65,45,32,38])
ma1=a1.mean()
ma2=a2.mean()
ma3=a3.mean()

xg=(ma1+ma2+ma3)/3

ssb=4*((ma1-xg)**2+(ma2-xg)**2+(ma3-xg)**2)
dfb=2
dfw=(len(a1)+len(a2)+len(a3))-3
ssw=0
for i in a1:
    ssw+=(i-ma1)**2
for i in a2:
    ssw+=(i-ma2)**2
for i in a3:
    ssw+=(i-ma3)**2

f=(ssb/dfb) /(ssw/dfw)
f

15.716937354988401

In [32]:
Gym_1 = np.array([60, 66, 65, 55, 62, 70, 51, 72, 58, 61, 71, 41, 70, 57, 55, 63, 64, 76, 74, 54, 58, 73])
Gym_2 = np.array([56, 65, 65, 63, 57, 47, 72, 56, 52, 75, 66, 62, 68, 75, 60, 73, 63, 64])
Gym_3 = np.array([67, 56, 65, 61, 63, 59, 42, 53, 63, 65, 60, 57, 62, 70, 73, 63, 55, 52, 58, 68, 70, 72, 45])  
NofSample=3
m1=Gym_1.mean()
m2=Gym_2.mean()
m3=Gym_3.mean()
xg=(len(Gym_1)*m1+len(Gym_2)*m2+len(Gym_3)*m3)/(len(Gym_1)+len(Gym_2)+len(Gym_3))

dfb=NofSample-1
dfw=(len(Gym_1)+len(Gym_2)+len(Gym_3))- NofSample
ssb=(len(Gym_1)*((m1-xg)**2)+len(Gym_2)*((m2-xg)**2)+len(Gym_3)*((m3-xg)**2))

ssw=0
for i in Gym_1:
    ssw+=(i-m1)**2
for i in Gym_2:
    ssw+=(i-m2)**2
for i in Gym_3:
    ssw+=(i-m3)**2
    
f=(ssb/dfb) /(ssw/dfw)
f
sst=0
for i in Gym_1:
    sst+=(i-xg)**2
for i in Gym_2:
    sst+=(i-xg)**2
for i in Gym_3:
    sst+=(i-xg)**2
    
print("SS Total",sst)
eta=ssb/sst
print("Eta Square",eta*100)

SS Total 4086.9841269841268
Eta Square 1.6299090116980548

In [37]:
import pandas as pd

a1=np.array([15,12,14,11])
a2=np.array([39,45,48,60])
a3=np.array([65,45,32,38])
prices_df = pd.DataFrame()

df1 = pd.DataFrame({'Brand': 'A', 'Price':a1})
df2 = pd.DataFrame({'Brand': 'B', 'Price':a2})
df3 = pd.DataFrame({'Brand': 'C', 'Price':a3})

prices_df = prices_df.append(df1) 
prices_df = prices_df.append(df2) 
prices_df = prices_df.append(df3) 
prices_df

  Brand  Price
0     A     15
1     A     12
2     A     14
3     A     11
0     B     39
1     B     45
2     B     48
3     B     60
0     C     65
1     C     45
2     C     32
3     C     38

In [43]:
import statsmodels.api         as     sm
from   statsmodels.formula.api import ols
 
mod = ols('Price ~ Brand', data = prices_df).fit()
aov_table = sm.stats.anova_lm(mod, typ=2)
print(aov_table)
print(aov_table["F"]["Brand"])

               sum_sq   df          F    PR(>F)
Brand     3010.666667  2.0  15.716937  0.001158
Residual   862.000000  9.0        NaN       NaN
15.716937354988396