In [3]:
a,b,c =1,2,3
print(a,b,c)

sum=a+b+c
print(sum)

1 2 3
6

In [4]:
a1=a2=a3=4
print(a1,a2,a3)

4 4 4

In [7]:
l=5
w=10
t=l+w
print("%d"%t)

15

In [22]:
a=1
a+=a

print(a)

2

In [14]:
h=float(input("Height?"))
w=float(input("Weight?"))
print((w/h**2)*10)

Height?5.8
Weight?58
17.241379310344826

In [20]:
p=float(input("Principal? "))
r=float(input("Rate? "))
t=float(input("Time? "))
print("My simple interest is ",p*r*t/100,"for",t,"of years")
type(p*r*t/100)

Principal? 100
Rate? 1
Time? 1
My simple interest is  1.0 for 1.0 of years

float

In [25]:
i=10
i%2==0

True

In [44]:
name=("Jithin","James")
print("First name:{}".format(name[0]))
print("Last name:{}".format(name[1]))
sorted(name)

First name:Jithin
Last name:James

['James', 'Jithin']

In [47]:
age=(40,35,8,5)
print(age)
age=sorted(age)
print(tuple(age))

(40, 35, 8, 5)
(5, 8, 35, 40)

In [51]:
tp1=("Jithin",23,"BTech","CS")
print(tp1[0])
print(tp1[0:])
print(tp1[:len(tp1)])
print(tp1[:-1])
print(tp1[0:-1])
#tuple only have 2 member functions count and index

Jithin
('Jithin', 23, 'BTech', 'CS')
('Jithin', 23, 'BTech', 'CS')
('Jithin', 23, 'BTech')
('Jithin', 23, 'BTech')

In [61]:
#set - doesnot support data indexing
ss={"apple","banana","apple"}  
print(ss)
ss.add("mango")
print(ss)
ss.remove("apple") #removes both the apples
print(ss)

{'banana', 'apple'}
{'mango', 'banana', 'apple'}
{'mango', 'banana'}

In [81]:
# List
fruits=["apple","banana","orange","grapes","Kiwi"]
print(fruits)
print(fruits[::-1])
print(fruits[:-3:-1])
fruits.append("Berry")


#to find the index of list
fruits.index("Berry")
fruits.sort()
print(fruits)


fruits.pop() #pop
print(fruits)

['apple', 'banana', 'orange', 'grapes', 'Kiwi']
['Kiwi', 'grapes', 'orange', 'banana', 'apple']
['Kiwi', 'grapes']
['Berry', 'Kiwi', 'apple', 'banana', 'grapes', 'orange']
['Berry', 'Kiwi', 'apple', 'banana', 'grapes']

In [83]:
aw="\n".join(fruits)
print(aw)

aw="\t".join(fruits)
print(aw)

#does not work for integer

Berry
Kiwi
apple
banana
grapes
Berry	Kiwi	apple	banana	grapes

In [85]:
students={"Eddy":22,"Maria":23,"Jack":28}
print(students)
students["Jack"]=29
print(students)

{'Eddy': 22, 'Maria': 23, 'Jack': 28}
{'Eddy': 22, 'Maria': 23, 'Jack': 29}

In [88]:
elements={"hydrogen":1,"helium":2,"carbon":3}
elements["hydrogen"]
elements={"hydrogen":{"number":1,"weight":2,"symbol":{"hydrogen":1}},"helium":2,"carbon":3}
elements["hydrogen"]["symbol"]["hydrogen"]

sorted(elements)

['carbon', 'helium', 'hydrogen']

In [90]:
password="Great Learning"
if(password=="Great Learning"):
    print("Success")
else:
    print("Failure")

Success

In [97]:

l1=list()
l2=list()
s=0
for i in range(1,21):
    if i%2==0:
        l1.append(i)
        s+=i
    else:
        l2.append(i)
        
print(l1)
print(l2)
print(s)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
110

In [108]:
l1=list()
l2=list()

for i in range(1,21):
    if i%2==0:
        l1.append(i)
    else:
        l2.append(i)
        
print(l1)
print(l2)

print(sum(l1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
110

In [120]:
l2=input()
l=l2.split(",")

c=0
for i in l:
    if c==8:
        break
    if int(i)>25000 :
        t="Diamond"
    elif 25000>int(i)>15000:
        t="Gold"
    elif 5000<int(i)<15000:
        t="Silver"
    else:
        t="bronze"
    c+=1
    print(t)

10000,20000
Silver
Gold

In [125]:
l1=list()
for i in range(450,850):
    if i%7==0:
        l1.append(i)

print(l1,"\n",sum(l1))

[455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847]
 37107

In [4]:
def greet(msg):
    if msg=="eng":
        print("Welcome")
    elif msg=="mal":
        print("Namaskaram")
    elif msg=="french":
        print("bonjur")
        
msg1= input()
greet(msg1)

eng
Welcome

In [6]:
l1=list()
l2=list()
def fun1(l):
    for i in l:
        if i%2==0:
            l1.append(i+2)
        else:
            l2.append(i+1)

l3=[i for i in range(1,11)]
print(l3)

fun1(l3)
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 6, 8, 10, 12]
[2, 4, 6, 8, 10]

In [10]:
#class
class myclass:
    x=5
obj=myclass()
print(obj.x)

5

In [20]:
class pr:
    def name(self):
        print("Jithin")
    def age(self,a):
        print("James",a)

p=pr()
print(p.name())
print(p.age(5))

Jithin
None
James 5
None

In [31]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def getname(self):
        print("Your name is "+self.name)
    def getage(self):
        print("Your age is "+self.age)

p = parent("Jithin","18")
p.getname()
p.getage()

Your name is Jithin
Your age is 18

In [42]:
class child(parent):                   #if you dont give the init function, it takes that function from the parent class
        def getname(self):
            print("Your name is "+self.name)
        
c = parent("Jithin","18")
c.getname()
c.getage()

Your name is Jithin
Your age is 18

In [3]:
# numpy used for numerical operations
import numpy as np
tu=(1,2,3)
type(tu)
out=np.array(tu)
print(out)
print(tuple(out))
print(type(out))

[1 2 3]
(1, 2, 3)
<class 'numpy.ndarray'>

In [6]:
import numpy as np
l=[i for i in range(1,11)]
l2=np.array(l)
print(l2)
print(l2.shape)
type(l2)

[ 1  2  3  4  5  6  7  8  9 10]
(10,)

numpy.ndarray

In [27]:
sq=np.arange(9)
print(sq)
print(sq.ndim)        # shows the dimension
print(sq.shape)       # shows dimension of array rows and colms
print(sq.size)        # no of array elements
print(sq.itemsize)    # length of one array element in bytes
print(sq.nbytes)      # total consumed bytes by the array
print(len(sq))        # length of the array
print(sq.astype(str))


sq1=np.arange(1,11,2) # increment by 2
print(sq1)

[0 1 2 3 4 5 6 7 8]
1
(9,)
9
4
36
9
['0' '1' '2' '3' '4' '5' '6' '7' '8']
[1 3 5 7 9]

In [26]:

np.linspace(1.0,5.0,num=10)

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [35]:
import numpy as np
c=[12,43,33]
c1=np.array(c)
print(c1*9/5+32)
type(c1)

[ 53.6 109.4  91.4]

numpy.ndarray

In [78]:
import numpy as np
a=np.array([[1,2,3],[4,5,6]])
print(a.ndim)
print(a.shape)
a.mean()

2
(2, 3)

AttributeError: 'numpy.ndarray' object has no attribute 'mode'

In [66]:
x=np.ones((3,4))
print(x)
y=np.random.random((1,4))
print(y)
print("\n\n\n",x+y)   # creates the cartesian product
print("\n\n\n",np.add(x,y))

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[0.12858903 0.7480678  0.76425062 0.71477595]]



 [[1.12858903 1.7480678  1.76425062 1.71477595]
 [1.12858903 1.7480678  1.76425062 1.71477595]
 [1.12858903 1.7480678  1.76425062 1.71477595]]



 [[1.12858903 1.7480678  1.76425062 1.71477595]
 [1.12858903 1.7480678  1.76425062 1.71477595]
 [1.12858903 1.7480678  1.76425062 1.71477595]]

In [59]:
print(np.random.random((5,1,4)))

[[[0.8867576  0.75375896 0.7584047  0.51974062]]

 [[0.25794765 0.83744896 0.75353477 0.32415075]]

 [[0.72221834 0.81328402 0.44089927 0.2738772 ]]

 [[0.82516418 0.37751683 0.03618556 0.31673397]]

 [[0.09288832 0.81872777 0.09774433 0.32836577]]]

In [75]:
np.random.random((1,4))

array([[0.19572834, 0.9353533 , 0.78493167, 0.18455458]])

In [85]:
a=np.array([1,2,3,4,5],ndmin=3)
print(a)
print(a.ndim)

[[[1 2 3 4 5]]]
3

In [86]:
a=np.array([1,2,3,4,5],dtype=complex)
print(a)
print(a.ndim)

[1.+0.j 2.+0.j 3.+0.j 4.+0.j 5.+0.j]
1

In [93]:
x=np.empty([3,3],dtype=int)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [95]:
a=[1,2,3,4]
b=a
a+=a
print(a)
print(b)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]

In [96]:
a=[1,2,3,4]
b=a
a=a+a
print(a)
print(b)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4]

In [100]:
student1=np.dtype([("name","S10"),("age","i1"),("marks","f4")])
print(student1)

[('name', 'S10'), ('age', 'i1'), ('marks', '<f4')]

In [101]:
c=np.full((2,2),5)
print(c)

[[5 5]
 [5 5]]

In [105]:
c=np.eye(3,3)
print(c)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [129]:
employee=np.dtype([("EMPID","S10"),("FNAME","S10"),("LNAME","S10")])
print(employee)

a=np.array([('emp10','Jithin','James'),('emp11','Alexander','James')],dtype=employee)
print(a)

[('EMPID', 'S10'), ('FNAME', 'S10'), ('LNAME', 'S10')]
[(b'emp10', b'Jithin', b'James') (b'emp11', b'Alexander', b'James')]

In [119]:
dt=np.dtype([('country','S20'),('density','i4'),('area','i4'),('population','i4')])
print(dt)
print(type(dt))

[('country', 'S20'), ('density', '<i4'), ('area', '<i4'), ('population', '<i4')]
<class 'numpy.dtype'>

In [128]:
p_table=np.array([
('Netherlands',393,41526,1692800),
('Belguim',337,30510,11007020),
('United Kingdom',256,243610,62262000),
('Germany',233,357021,81799600)
],dtype=dt)

print(p_table[:2])
print(p_table['country'])
print(p_table['density'])

[(b'Netherlands', 393, 41526,  1692800) (b'Belguim', 337, 30510, 11007020)]
[b'Netherlands' b'Belguim' b'United Kingdom' b'Germany']
[393 337 256 233]